<div class="text-center">
        <a href="https://www.mercadopago.com.br/privacidade" target="_blank" class="font-weight-bold small"><i
                class="bi bi-box-arrow-up-right"></i> Política de privacidade MercadoPago</a>
        <br>
        <a href="/privacidade" target="_blank" class="font-weight-bold small"><i class="bi bi-box-arrow-up-right"></i>
            Nossa política de privacidade</a>
    </div>