<!-- Modal Refresh -->
    <div class="modal fade" id="ModalRefresh" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true"  data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Verificando pagamento</h5>
                </div>
                <div class="modal-body text-center">
                    <img src="/images/loading.gif" alt="loading" width="72" class="img-fluid mb-4">
                    <br>
                    <span class="font-weight-bold">Aguarde <span id="countLoading" class="text-success"></span>s,
                        solicitando ativação...</span>
                </div>
            </div>
        </div>
    </div>